<h1>Ivan the Terrible's Blog</h1>

<p>
  <%= link_to 'New Post', new_post_path %>
</p>

<section class="blog">
<% @posts.each do |post| %>
  <section class="post">
    <h2><%= post.title %></h2>
    <div><%= post.body %></div>
    <div class="post_nav">
      <%= link_to 'Show', post %>
    </div>
  </section>
  <% end %>
</section>

<br />

<%= will_paginate @posts %>
