<% unless @page_caching %>
  <p id="notice"><%= notice %></p>
<% end %>

<p>
  <b>Title:</b>
  <%= @post.title %>
</p>

<p>
  <b>Body:</b>
  <%= @post.body %>
</p>

<p>
  <%= link_to 'Edit', edit_post_path(@post) %> |
  <%= link_to 'Destroy', @post, method: :delete, data: { confirm: 'Are you sure?' } %> |
  <%= link_to 'Back', :back %>
</p>

<p>
  <b>Comments:</b>
  <ul class="comment">
    <% @comments.each do |c| %>
      <li>
        <%= c.id %> | <%= c.body %>
        <ul class="reply">
          <% c.replies.each do |r| %>
            <li><%= r.body %></li>
          <% end %>
        </ul>
      </li>
    <% end %>
  </ul>

  <%= will_paginate @comments %>

</p>
